In [2]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
warnings.filterwarnings("ignore", message="numpy.ufunc size changed")
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
pd.set_option('display.max_columns', None)
import re
from statsmodels.stats.outliers_influence import variance_inflation_factor
from statsmodels.tools.tools import add_constant
from scipy.stats import chi2_contingency
from scipy import stats
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import Normalizer
from sklearn.preprocessing import OneHotEncoder

# 0.Importing from cleaned data notebook


For now, we are bringing both of them forward separately for individual exploration. Later, we will check how we can merge them, so that we can run a model/clustering both on the single regional (based on number of cases per province), and the two merged files.

<br/>
1. We will start with exploration of the region information<br/>
a. correlation between column <br/>
b. distribution <br/>
c. outliers 
<br/>
2. We will continue with exploration of victims <br/>
- correlation between column <br/>
3. Merge file <br/>
- correlation and patterns <br/>
4. Encoding and Standardization <br/>
a. standardize data regions <br/>
b. encode data victims <br/>
5. Save for clustering - new notebook <br/>

In [3]:
data_vic = pd.read_csv('victims_cleaned.csv')

In [4]:
data_reg = pd.read_csv('regions_info.csv')

In [5]:
data_vic.head()

,Unnamed: 0,age,date,district,city,perpetrator_en_new,excuses_cat
0,0,18.0,31/12/2017,Esenyurt,Istanbul,boyfriend,Unknown
1,1,17.0,31/12/2017,Ağlasun,Burdur,boyfriend,Separation & Jealousy
2,2,38.0,30/12/2017,Merkez,Bolu,boyfriend,Other
3,3,53.0,27/12/2017,Etimesgut,Ankara,boyfriend,Separation & Jealousy
4,4,22.0,25/12/2017,Yenişehir,Diyarbakır,partner,Separation & Jealousy

In [6]:
data_reg.head()

,Unnamed: 0,prov_code,year,all_wm_prov,knows_wm_prov,total_pop,ethnic_turkish,ethnic_kurdish,ln_casualty,ln_gdppc_cons,divorce_rate_ma5,mosques_perk,ceasefire,fm_diff_educ
0,22,1,2010,20.0,19.0,2085225.0,82.03772,13.370917,3.178054,4.187798,1.458,0.606649,0,-0.062882
1,23,1,2011,15.0,15.0,2108805.0,82.03772,13.370917,3.178054,4.270533,1.532,0.599866,0,-0.068188
2,24,1,2012,9.0,9.0,2125635.0,82.03772,13.370917,3.178054,4.310695,1.632,0.640750,0,-0.067100
3,25,1,2013,7.0,7.0,2149260.0,82.03772,13.370917,3.178054,4.350712,1.712,0.651852,1,-0.066711
4,26,1,2014,14.0,14.0,2165595.0,82.03772,13.370917,3.178054,4.379060,1.790,0.654324,1,-0.067147

# 1. Region Data